aiogram 
asyncio==3.4.3
websockets==12.0
annotated-types==0.7.0
tgcrypto-pyrofork==1.2.7
aiohappyeyeballs==2.6.1
propcache==0.3.0
pydantic
aiofiles==24.1.0
web3
psutil==6.1.0
types-requests==2.32.0.20250301
loguru
fake-useragent==1.5.1
pyrofork==2.3.61
colorama
pydantic_core==2.16.3
requests
